@use '../../styles/index' as *;

.container {
    padding: 5rem 0;
}

.heading {
    @include heading1-bold;
     text-align: center;
    >span {
        color: $purple;
    }
}

.projectCard {
    min-height: 35rem;
    @include flex-row;

    @include mid-break {
        min-height: 25rem;
    }
}

.projContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 5vh;
}

.CardImgContainer {
    position: relative;
    @include flex-row;
    overflow: hidden;
    height: 305px;
    width: 415px;

    >div {
        position: inherit;
        width: 100%;
        height: 100%;
        @include flex-row($algn: flex-end);
        overflow: hidden;
        border-radius: 1.5rem;
        background-color: #13162d;
        img:first-of-type {
            position: absolute;
            inset: 0;
            border-radius: inherit;
        }

        img:nth-of-type(2) {
            position: inherit;
            width: 90%;
            height: 90%;
            transform: rotate(2.5deg);
            border-radius: 5px;

        }
    }

}


.titleDes {
    @include flex-col;
    width: 100%;
    margin: 2vh 0;
    gap: 2vh;

}
.projTitle {
    @include heading4-medium;


}

.projDes {
    @include base-regular;
    text-align: left;
    width: 100%;
    letter-spacing: 1.5px;
}

.projAddInfo {
    @include flex-row($jc: space-between);
    margin-top: 5vh;
    >div:nth-of-type(1){
        @include flex-row;

        >div {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 0.5px solid rgba(255, 255, 255, 0.151);
            @include flex-row;
             >img {
                // width:90%;
                // height: 90%;
                object-fit: cover;
                border-radius: inherit;
         
             }
        }

   

        @for $i from 1 through 10 {
            > div:nth-of-type(#{$i + 1}) {
              $translate-value: 25 * $i;
              transform: translateX(calc(#{$translate-value} * 1% * -1) );
   
            }
          }
    }

    >div:nth-of-type(2) {
        >p {
        @include flex-row($algn: flex-end);
        gap: 5px;
        color: $purple;
        img {
            width: 25px ;
            transform: rotate(130deg);
     
        }
    }
    }

}