//colors
$black-100 : #000319;
$black-200 : rgba(17, 25, 40, 0.75);
$black-300 : rgba(255, 255, 255, 0.125);
$blue-100: #E4ECFF;
$white-100: #BEC1DD;
$white-200: #C1C2D3;
$purple: #CBACF9;

//z-index
$z-bar: 5;

